.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Env
.env

# pages
/src/pages/OpeningBalancePage.vue
/src/pages/accounting/Accbeginningbalancesdet2sPage.vue
/src/pages/accounting/Accbeginningbalancesdet3sPage.vue
/src/pages/accounting/AccbeginningbalancesdetsPage.vue
/src/pages/accounting/AccbeginningbalancessPage.vue
/src/pages/accounting/AccountingentriessPage.vue
/src/pages/accounting/AccountingentriesdetsPage.vue
/src/pages/accounting/AccentsubdetsPage.vue
/src/pages/accounting/AccmonclosPage.vue
/src/pages/accounting/AccannualclosingentrysPage.vue
/src/pages/accounting/AccmontopesPage.vue
/src/pages/accounting/AccannclosPage.vue
/src/pages/AccountingEntriesPage.vue
/src/pages/MonthlyClosurePage.vue
/src/pages/MonthlyOpeningPage.vue
/src/pages/YearSeatClosurePage.vue
/src/pages/YearClosurePage.vue
/src/pages/medical-appointments
/src/pages/hospitalization
/src/pages/inventory